.input_for_subscribe::placeholder {
  color: white !important;
  height: 120px !important;
  padding: 50px;
}
.send_button {
  outline: none;
  color: white;
}
.footer_input {
  width: 30%;
  background-color: transparent !important;
}

.input_for_subscribe {
  width: 100%;
  height: 50px;
  color: white;
  border: 2px solid white !important;
  background-color: transparent !important;
}
@media screen and (max-width: 320px) {
  .footer_input {
    width: 100%;
  }
  .input_for_subscribe {
    width: 85%;
    height: 50px;
    border: none;
    border-right: none !important;
  }
  .send_button {
    width: 100% !important;
    height: 45px;
    margin-right: 0px;
  }
  .subscribe_button {
    margin-left: 10px !important;
    margin-right: 22px !important;
    height: 50px !important ;
  }
}

@media screen and (max-width: 376px) {
  .footer_input {
    width: 100%;
  }
  .input_for_subscribe {
    width: 92% !important;
    height: 50px;
    border: none;
  }
  .send_button {
    width: 100% !important;
    height: 48px;
    margin-right: 0px;
  }
  .subscribe_button {
    margin-left: -12px !important;
    margin-right: 22px !important;
    height: 50px;
  }
}

@media screen and (max-width: 426px) {
  .footer_input {
    width: 100%;
  }
  .input_for_subscribe {
    width: 92% !important;
    height: 50px;
    border: none;
  }
  .send_button {
    width: 100% !important;
    height: 48px;
    margin-right: 0px;
  }
  .subscribe_button {
    margin-left: -15px;
    margin-right: 10px;
  }
  .subscribe_button {
    margin-left: -15px !important;
    margin-right: 22px !important;
    height: 50px;
  }
}

@media screen and (max-width: 769px) and (min-width: 427px) {
  .footer_input {
    width: 60%;
  }
  .input_for_subscribe {
    width: 100% !important;
    height: 50px;
  }
  .send_button {
    width: 100% !important;
    height: 48px;
    margin-right: 0px;
  }
  .subscribe_button {
    margin-left: -2px !important;
    margin-right: -10px !important;
    height: 50px;
  }
}
@media screen and (max-width: 1025px) and (min-width: 770px) {
  .footer_input {
    width: 45%;

    display: flex;
    justify-content: center;
  }
  .input_for_subscribe {
    width: 100% !important;
    height: 50px;
  }
  .send_button {
    width: 100% !important;
    height: 48px;
    margin-right: 0px;
  }
  .subscribe_button {
    margin-left: -1px !important;
    margin-right: 22px !important;
    height: 50px;
  }
}
